@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

// @font-face {
//   font-family: "Jenthill", sans-serif;
//   src: url("/fonts/jenthill.ttf") format("truetype");
//   font-style: normal;
//   font-display: swap;
// }

.default-container {
  @include containerConfig();
}

.h3-title {
  margin: 50px 0;
  @include titleConfig($font-weight: $font-medium);
  font-family: $secondary-font;
}

.h4-title {
  @include titleConfig($font-size: 28px);
}

.subtitle {
  @include textConfig();
  margin: 10px 0;
}

.paragraph-text {
  @include textConfig();
}

.default-button {
  @include primaryButton();
}
