.home-container {
  margin-top: 65px;
  @include breakpoint(465px, max) {
    margin-top: 134px;
  }
}

.home-infocard {
  min-height: 400px;
  @include linearGradient();
  @include flexLayout();

  @include breakpoint($mobile-md, max) {
    justify-content: center;
    flex-direction: column;
    padding: 25px;
  }
}

.infocard {
  &-links {
    display: flex;
    flex-direction: column;
    gap: $gap;

    @include breakpoint($mobile-md, min) {
      padding-left: 30px;
    }
  }

  &-title {
    @include titleConfig($font-size: 35px, $text-align: left);
  }

  &-text {
    max-width: 920px;
    @include textConfig($font-size: 20px, $font-weight: $font-semibold);
  }

  &-link {
    width: 100%;
  }

  @include breakpoint($mobile-md, max) {
    &-title {
      font-size: 30px;
    }

    &-links {
      align-items: center;
      text-align: center;
    }

    &-image {
      max-width: 200px;
      margin-bottom: 20px;

      img {
        border-radius: 100%;
      }
    }
  }
}

.technologys {
  @include flexLayout(flex, row, space-between, center, wrap);
  flex-wrap: wrap;

  @include breakpoint(1212px, max) {
    padding: $padding;
  }

  @include breakpoint($tablet-lg, max) {
    justify-content: center;
    gap: $gap;
  }

  img {
    max-height: 50px;
  }
}

.experience {
  @include flexLayout(flex, row, center, normal, wrap);
  margin: 0 auto 40px auto;
  border-bottom: 0;
  gap: $gap;
  &-div {
    width: 100% ;
    background: $pink;
    padding: $padding;
    @include flexLayout(flex, column, left, center, nowrap);
    text-align: center;
    max-width: 400px;
    border-radius: 20px;
  }

  @include breakpoint(1212px, max) {
    padding: $padding;
  }

  @include breakpoint($tablet-lg, max) {
    @include flexLayout(
      $flex-direction: column,
      $justify-content: center,
      $align-items: center
    );
    gap: $gap;
  }
}

.certificates-container {
  @include flexLayout($justify-content: center, $align-items: center);

  .certificates {
    @include primaryButton($max-width: 100%);
    width: auto;
    padding: 0 15px;
  }
}

.education {
  &-container {
    border-bottom: 0;
  }

  &-title {
    margin-bottom: 25px;
  }

  &-div {
    @include flexLayout($justify-content: flex-start);
    gap: $gap;
    img {
      max-width: 350px;
    }

    @include breakpoint($tablet-lg, max) {
      padding: 0 20px;
      @include flexLayout(
        $flex-direction: column,
        $justify-content: center,
        $align-items: center
      );

      img {
        max-width: 200px;
      }
    }
  }

  &-description {
    max-width: 400px;
  }

  &-name {
    text-align: left;
  }
}

.sobre {
  background: $light-pink;
  padding-top: 5px;
  &-container {
    border-bottom: 0;
    &-photo {
      img {
        @include sizeConfig(195px);
        border: 1px solid $secondary-color;
      }
    }

    &-bio {
      max-width: 515px;
    }
  }

  &-div {
    @include flexLayout($justify-content: center);
    gap: $gap-md;

    @include breakpoint($tablet-lg, max) {
      padding: 0 20px;
      @include flexLayout(
        $flex-direction: column,
        $justify-content: center,
        $align-items: center
      );
    }
  }

  &-button {
    margin-top: 10px;
    max-width: 100px;
  }
}

.history {
  &-title {
    padding-top: 30px;
    text-align: left;
  }

  &-container {
    @include breakpoint(1252px, max) {
      padding: 0 20px;
    }

    @include breakpoint($tablet-lg, max) {
      @include flexLayout(
        $flex-direction: column,
        $justify-content: center,
        $align-items: flex-start
      );
    }
  }
}
