.home-container {
  margin-top: 65px;
  background: $light-pink;
  @include breakpoint(465px, max) {
    margin-top: 134px;
  }
}

.home-infocard {
  @include flexLayout($justify-content: center);
  padding: 25px;

  @include breakpoint($mobile-md, max) {
    flex-direction: column;
  }
}

.infocard {
  &-links {
    display: flex;
    flex-direction: column;
    gap: $gap;

    @include breakpoint($mobile-md, min) {
      padding-left: 30px;
    }
  }

  &-title {
    @include titleConfig($font-size: 30px, $text-align: left);
  }

  &-text {
    max-width: 920px;
    @include textConfig($font-size: 20px, $font-weight: $font-semibold);
  }

  &-link {
    width: 100%;
  }

  &-image {
    max-width: 200px;
    margin-bottom: 20px;

    img {
      border-radius: 100%;
    }
  }

  @include breakpoint($mobile-md, max) {
    &-links {
      align-items: center;
      text-align: center;
    }
  }
}

.technologys {
  @include flexLayout(flex, row, space-between, center, wrap);
  flex-wrap: wrap;

  @include breakpoint(1212px, max) {
    padding: $padding;
  }

  @include breakpoint($tablet-lg, max) {
    justify-content: center;
    gap: $gap;
  }

  img {
    max-height: 50px;
  }
}

.experience {
  margin: 0 auto 20px auto;
  border-bottom: 0;

  &-div {
    @include flexLayout(flex, row, space-between, normal, nowrap);
    margin-bottom: 30px;
    @include breakpoint($tablet-lg, max) {
      flex-direction: column;
      padding: 0 20px;
    }
  }

  &-item {
    @include flexLayout(flex, column, left, normal, nowrap);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 20%;
      height: 2px;
      background-color: $secondary-color;
      top: 20px;
      right: calc(100% + 2rem);
    }
    @include breakpoint($tablet-lg, min) {
      width: 65%;
    }
  }

  &-name {
    font-family: $secondary-font;
    margin: 10px 0;
    font-size: 25px;
    @include breakpoint($tablet-lg, min) {
      align-self: flex-start;
      transform: rotate(-5deg);
      transform-origin: bottom left;
      padding-left: 0.2rem;
    }
  }

  &-title {
    @include titleConfig($font-size: 30px, $text-align: left);
  }
}

.education {
  &-title {
    margin-bottom: 25px;
  }

  &-div {
    @include flexLayout($justify-content: center);

    @include breakpoint($tablet-lg, max) {
      padding: 20px;
      @include flexLayout(
        $flex-direction: column,
        $justify-content: center,
        $align-items: center
      );
    }
  }

  &-description {
    background: $white-01;
    padding: $padding;
    border-radius: 10px;
    border: solid 2px $secondary-color;
    -webkit-box-shadow: 0.5rem 0.5rem 0 0 $secondary-color;
    -moz-box-shadow: 0.5rem 0.5rem 0 0 $secondary-color;
    box-shadow: 0.5rem 0.5rem 0 0 $secondary-color;
    transform: translateX(-0.5rem);
    filter: saturate(0.7);
  }

  &-name {
    text-align: left;
  }
}

.formation {
  position: absolute;
  top: -2.5rem;
  left: 1.8rem;
  padding: 0.5rem 1.25rem;
  background: $white-01;
  color: $secondary-color;
  border: solid 2px $secondary-color;
  -webkit-box-shadow: 0.3rem 0.3rem 0 0 $secondary-color;
  -moz-box-shadow: 0.3rem 0.3rem 0 0 $secondary-color;
  box-shadow: 0.3rem 0.3rem 0 0 v;
}

.sobre {
  background: $light-pink;
  padding-top: 5px;
  &-container {
    border-bottom: 0;
    &-photo {
      img {
        @include sizeConfig(195px);
        border: 1px solid $secondary-color;
      }
    }

    &-bio {
      max-width: 515px;
    }
  }

  &-div {
    @include flexLayout($justify-content: center);
    gap: $gap-md;

    @include breakpoint($tablet-lg, max) {
      padding: 0 20px;
      @include flexLayout(
        $flex-direction: column,
        $justify-content: center,
        $align-items: center
      );
    }
  }
}

.history {
  &-container {
    @include breakpoint(1252px, max) {
      padding: 0 20px;
    }

    @include breakpoint($tablet-lg, max) {
      @include flexLayout(
        $flex-direction: column,
        $justify-content: center,
        $align-items: flex-start
      );
    }
  }
}
