.header {
  &-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background: $primary-color;
    @include flexLayout(flex, row, center, center, wrap);
    padding: $padding;
    gap: $gap;
    @include textConfig(
      $font-size: 18px,
      $color: $white,
      $font-weight: $font-regular
    );

    @include breakpoint($tablet-lg, min) {
      justify-content: space-between;
      padding: 10px 20px;
    }

    &-image {
      display: flex;
      align-items: center;
      color: $white;
      gap: $gap;

      @include breakpoint(465px, max) {
        border-bottom: 1px solid white;
      }

      img {
        max-width: 50px;
      }
    }
  }

  &-nav {
    @include flexLayout(flex, row, space-between, center, nowrap);
    gap: $gap;
  }

  &-item {
    list-style: none;
    color: $white;
  }
}
