.header {
  &-container {
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(137, 78, 79, 0.1);

    background: $light-pink;
    @include flexLayout(flex, row, center, center, wrap);
    padding: $padding;
    gap: $gap;
    @include textConfig(
      $font-size: 20px,
      $color: $primary-color,
      $font-weight: $font-semibold
    );

    @include breakpoint($tablet-lg, min) {
      justify-content: space-between;
      padding: 15px 20px;
    }

    &-image {
      display: flex;
      align-items: center;
      gap: $gap;

      @include breakpoint(465px, max) {
        border-bottom: 1px solid white;
      }

      img {
        max-width: 50px;
      }
    }
  }

  &-nav {
    @include flexLayout(flex, row, space-between, center, nowrap);
    gap: $gap;
  }

  &-item {
    list-style: none;
  }
}
