.home-infocard {
  min-height: 400px;
  background-image: url("../../public/images/infocard.png");
  display: flex;
  align-items: center;
}

.infocard-links {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  gap: 30px;
}

.infocard-title {
  font-size: 50px;
  font-weight: 600;
}

.infocard-text {
  max-width: 500px;
  font-size: 17px;
  font-weight: 500;
}

.infocard-button {
  background: #a11e56;
  height: 60px;
  border-radius: 30px;
  width: 100%;
  max-width: 200px;
  color: white;
}

@media (max-width: 609px) {
  .home-infocard {
    justify-content: center;
    padding: 20px;
  }
}
